<button mat-raised-button class="mx mt mb" color="primary" (click)="openAppointment()">Add Appointment</button>
<button class="mx mt mb" mat-raised-button routerLink="/">Back to home</button>

<mat-card class="mb mt">
  <mat-card-content>
    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile>
        <div>
          <div class="btn-group">
            <button
              mat-raised-button
              color="primary"
              class="mx"
              mwlCalendarPreviousView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()"
            >
              Previous
            </button>
            <button
              mat-raised-button
              mwlCalendarToday
              [(viewDate)]="viewDate"
            >
              Today
            </button>
            <button
              mat-raised-button
              color="primary"
              class="mx"
              mwlCalendarNextView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()"
            >Next</button>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div >
          <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <div class="btn-group">
            <button
              mat-raised-button
              color="primary"
              class="mx"
              (click)="setView(CalendarView.Month)"
              [class.active]="view === CalendarView.Month"
            >Month</button>
            <button
              mat-raised-button
              class="mx"
              (click)="setView(CalendarView.Week)"
              [class.active]="view === CalendarView.Week"
            >
              Week
            </button>
            <button
              mat-raised-button
              color="primary"
              class="mx"
              (click)="setView(CalendarView.Day)"
              [class.active]="view === CalendarView.Day"
            >Day</button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>


<div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
</div>